.ProgressBar {
  $primary-color: white;
  $secondary-color: black;

  .progress-bar-container {
    background-color: $primary-color;
    border-radius: 4px;
    overflow: hidden;
    border: 3px solid $secondary-color;
    height: 1rem;
  }

  .progress-bar {

    height: 100%;
    transition: width 0.5s ease;
  }
}